<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= link_to 'Show', restaurant, class: "btn btn-secondary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
